

.about-section{
    padding: 75px 0 116px 0;

   .about-item{
       // margin-bottom: 80px;
        .about-content{
            position: absolute;
            left: 20px;
            right: 20px;
            top: 130px;
            background-color: white;
            padding: 22px 18px 57px 19px;
            text-align: center;
           
        }
    }
} 










