

.about-section{
    padding: 75px 0 56px;

    .about-item{
        margin-bottom: 81px;
        .about-content{
            
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -90px;
            background-color: white;
            padding: 22px 18px 57px 19px;
            text-align: center;
            
            h6{
                line-height: 2.4rem;
                height: 4.8rem;
                overflow: hidden;
            }

        }
    }
} 











