$grid-gutter-blog-width:107px;
.blog{
    $grid-gutter-width:$grid-gutter-blog-width;
   
   
    
    
}

/*@media(min-width:768px){
    .owl-theme{
    .owl-dots{
        position: absolute;
        bottom: 1px;
        left: 50%;
    }
    }
}*/